@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

@keyframes movein {
    0%{
        color:#43B1AC;
        margin-bottom: 50px;    
    }
}



html{
    box-sizing: border-box;
    outline:none;
    transition: all 0.1s ease-in;
    height: 100vh;
}
body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    font-family: 'Rokkitt', serif;
    background-color: #43B1AC;
}

.material-icons-outlined.md-48 { 
    font-size: 48px;
    color:white;
 }
 .material-icons-outlined.md-48:hover { 
    color:black;
    cursor:pointer;
    transition:0.5s;
 }

h1,h2,h3{
    margin:0;
    padding:0;
    font-family: 'Rokkitt', serif;
    color:white;
}

nav,main,.outer,.inner,footer,button{
    border:none;
}

h1{
    font-size:64px;
    font-weight: 400;
    animation: movein 2s 1;
}
h2{
    font-size: 48px;
    font-weight: 400;
    animation: movein 2s 1;
}

h3{
    font-size: 48px;
    font-weight: 700px;
    animation: movein 2s 1;

}

img{
    width: 40%;
    max-width: 161px;
    height: auto;  
}

nav{
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
}
.wrapper{
    display:flex;
    flex-flow: column;
}
.outer{
    height: 30vw;
    width: 25vw;
    max-height: 60vh;
    max-width: 50vh;
    background-color: #246A73;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(-11px 10px 4px rgba(0, 0, 0, 0.25));
}
#wrapper-1{
margin-right: 8vw;
}
#wrapper-2{
margin-left: 8vw;
}
#score-wrapper{
    display:flex;
    flex-direction: column;
    animation: movein 2s 1;
}

#score{
    font-size: 96px;
}
.wrapper-navigate{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.inner{
    height: 20vw;
    width: 20vw;
    max-height: 45vh;
    max-width: 40vh;
    background-color:white;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
    margin:2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.66vw;
    margin-bottom: 2.66vw;
    height: 10%;
    margin:0;
    padding:0;
}
button{
    height: 5vw;
    width: 20vw;
    max-height: 10vh;
    max-width: 40vh;
    background: #246A73;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    margin-bottom:5vh;
    outline:none;
}
button:hover{
    background-color: white;
    transition:1s;
    cursor: pointer;
}
button h3:hover{
    color:#246A73;
}
button:active {
    transform: translate(-4px,4px);
    box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
    transition: 0.1s;
  }

.blinking{
    animation: blink 1.5s infinite;
}



  